
section{
    background-color: gold;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 15% 85%;
    height: 100vh;
}

main{
    grid-column: span 12;
    
}

header{
    grid-column: span 12;
    background-image: url("/assets/images/background.jpg");
}