<h1>
    <img id = myRec src="/assets/images/recoupons.png" width="imgWidth">
</h1>
<div *ngFor="let coupon of allCoupons">
  <div>
      <img id = myType src="/assets/images/{{coupon.couponType}}.png" width="imgWidth">
    <h3>Coupon ID: {{ coupon.couponId }}</h3>
    <h3>Coupon Title: {{ coupon.couponTitle }}</h3>
    <h3>End Date: {{ coupon.endDate }}</h3>
    <h3>Coupon Type: {{ coupon.couponType }}</h3>
    <h3>{{ coupon.couponMessage }}</h3>
    <h3>Price: {{ coupon.couponPrice }}</h3>
    <h3>Company: {{ coupon.companyId }}</h3>
    <button type="button" class="btn btn-primary" (click)="purchaseCoupon(coupon.couponId)">Buy</button>
  </div>  
  
</div>
