div{
    top: 400px;
    border: 3px solid darkblue;
    display: inline-table;
    padding: 5px ;
    text-align: left;
}

#myType{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

button{
    width: 100%;
}