<div>
    <img id = myImage src="/assets/images/wolf2.png" width="imgWidth">
     <img id = logoImage src="/assets/images/bigwolf.png" width="imgWidth">
  </div>
  <div class="btn-group" role="group" aria-label="menu">
      <button routerLink="customersHome" type="button" class="btn btn-outline-warning">Home</button>
      <button routerLink="CustomerCoupon" type="button" class="btn btn-outline-warning">Coupons</button>
      <button routerLink="CouponsByCategory" type="button" class="btn btn-outline-warning">Coupons Category</button>
      <button routerLink="MyCoupons" type="button" class="btn btn-outline-warning">My Coupons</button>
      <button routerLink="UpdateCustomerProfile" type="button" class="btn btn-outline-warning">Update Profile</button>
      <button routerLink="about" type="button" class="btn btn-outline-warning">About</button>
  </div>
  <div class="logout">
    <button id=lb type="button" class="btn btn-secondary" (click)="logout()">Logout</button>
  </div>