<h1>
  <img id = myRec src="/assets/images/update.png" width="imgWidth">
</h1>
<div> 
   
  <form #myForm="ngForm" (ngSubmit)="updateCoupon()">
 
    <a>Coupon Title:</a>
     <input #name="ngModel" type="text" name="couponTitle" [(ngModel)]="coupon.couponTitle" placeholder="Coupon Title">
     <br>

     <a>End Date:</a>
     <input #name="ngModel" type="text" name="endDate" [(ngModel)]="coupon.endDate" placeholder="dd.mm.yyyy">
     <br>
 
     <a>Amount:</a>
     <input #name="ngModel" type="number" name="amount" [(ngModel)]="coupon.amount" placeholder="Amount">
     <br>

     <a>Coupon Message:</a>
     <input #name="ngModel" type="text" name="couponMessage" [(ngModel)]="coupon.couponMessage" placeholder="Coupon Message">
     <br>

     <a>Coupon Price:</a>
     <input #name="ngModel" type="number" name="couponPrice" [(ngModel)]="coupon.couponPrice" placeholder="Price">
     <br>

     <a>Coupon Image:</a>
     <input #name="ngModel" type="file" name="couponImage" [(ngModel)]="coupon.couponImage" placeholder="Coupon Image">
     <br>
    
     <button>Update Coupon</button>
 
   </form>

 </div>



 
 
		
		
		
		
