<h2 *ngIf="ourCoupons">{{ ourCoupons.length }} Coupons</h2>

<div *ngIf="ourCoupons">
<table class="table table-striped table-dark">
  <tr>
    <th scope="col">couponId</th>
    <th scope="col">couponTitle</th>
    <th scope="col">startDate</th>
    <th scope="col">endDate</th>
    <th scope="col">amount</th>
    <th scope="col">couponType</th>
    <th scope="col">couponMessage</th>
    <th scope="col">couponPrice</th>
    <th scope="col">couponImage</th>
    <th scope="col">companyId</th>
    <th scope="col">Update</th>
    <th scope="col">Delete</th>
  </tr>
    <tr *ngFor="let coupon of ourCoupons">
        <td scope="row">{{ coupon.couponId }}</td>
        <td>{{ coupon.couponTitle }}</td>
        <td>{{ coupon.startDate }}</td>
        <td>{{ coupon.endDate }}</td>
        <td>{{ coupon.amount }}</td>
        <td>{{ coupon.couponType }}</td>
        <td>{{ coupon.couponMessage }}</td>
        <td>{{ coupon.couponPrice }}</td>
        <td>{{ coupon.couponImage }}</td>
        <td>{{ coupon.companyId }}</td>
        <td><button type="button" class="btn btn-secondary" (click)="updateCoupon(coupon.couponId)">Update</button></td>
        <td><button type="button" class="btn btn-secondary" (click)="deleteCoupon(coupon.couponId)">Delete</button></td>
    </tr>
        

    </table>
</div>
