<div> 
   
  <form #myForm="ngForm" (ngSubmit)="createCoupon()">
 
     <input #name="ngModel" type="text" name="couponTitle" [(ngModel)]="coupon.couponTitle" placeholder="Coupon Title">
     <br>
 
     <input #name="ngModel" type="date" name="endDate" [(ngModel)]="eDate" placeholder="Expiration Date">
     <br>
 
     <input #name="ngModel" type="number" name="amount" [(ngModel)]="coupon.amount" placeholder="Amount">
     <br>

     <select #name="ngModel" [(ngModel)]="coupon.couponType" [ngModelOptions]="{standalone: true}">
      <option value="VACATION">VACATION</option>
      <option value="FOOD">FOOD</option>
      <option value="ELECTRICITY">ELECTRICITY</option>
      <option value="SPORTS">SPORTS</option>
      <option value="RESTURANTS">RESTURANTS</option>
      <option value="HEALTH">HEALTH</option>
      <option value="CAMPING">CAMPING</option>
      <option value="TRAVELLING">TRAVELLING</option>
    </select>
    <br>

     <input #name="ngModel" type="text" name="couponMessage" [(ngModel)]="coupon.couponMessage" placeholder="Coupon Message">
     <br>

     <input #name="ngModel" type="number" name="couponPrice" [(ngModel)]="coupon.couponPrice" placeholder="Price">
     <br>

     <input #name="ngModel" type="file" name="couponImage" [(ngModel)]="coupon.couponImage" placeholder="Coupon Image">
     <br>
    
     <button>Create Coupon</button>
 
   </form>
 </div>



 
 
		
		
		
		