<div>
  <img id = myImage src="/assets/images/wolf2.png" width="imgWidth">
   <img id = logoImage src="/assets/images/bigwolf.png" width="imgWidth">
</div>
<div class="btn-group" role="group" aria-label="menu">
    <button routerLink="home" type="button" class="btn btn-outline-warning">Home</button>
    <button routerLink="coupons" type="button" class="btn btn-outline-warning">Coupons</button>
    <button routerLink="createCoupon" type="button" class="btn btn-outline-warning">Create Coupon</button>
    <button routerLink="createCoupon" type="button" class="btn btn-outline-warning">Our Coupons</button>
    <button routerLink="createCoupon" type="button" class="btn btn-outline-warning">Update Profile</button>
    <button routerLink="about" type="button" class="btn btn-outline-warning">About</button>
</div>
<div class="logout">
  <button (click)="logout()">Logout</button>
</div>
